# Бинарные файлы
/cmd/app/main
/app
*.exe
*.exe~
*.dll
*.so
*.dylib

# Переменные окружения
.env
.env.local

# Зависимости
/vendor/

# Логи и временные файлы
*.log
/tmp/
/bin/

# Файлы редакторов
.vscode/
.idea/
*.swp
*.swo

# Файлы системы
.DS_Store
Thumbs.db